<%- include("../includes/head.ejs") %>
<body>
    <%- include("../includes/navBar.ejs") %>
    <div id = "PS-main-1">
        <div id="topNavPS">
            <div class="topNavElePS">
                <div class="ele-1-PS ">For you</div>
                <div class="click-displayElePS rm-ele-PS"></div>
             </div>
            <div class="topNavElePS">
                <div class="ele-1-PS">Following</div>
                <div class="click-displayElePS rm-ele-PS"></div>
            </div>
        </div>
            <% for(let i = 0 ; i < data.length ; i++) {
        console.log("ParvatiammaShivappa , muddu") ;
        let rmKeyAndFormArr = Object.values(data[i]) ; 
        let noKey = rmKeyAndFormArr[0] ; 
        let Data = noKey ; %> 
        <div id="posts-displayPS-container">
            <div class="post-PS">
                <div class="post-sub-1-PS">
                    <div class="post-sub-1-profilePic-PS">
                        <img src="<%= Data.profilePicPS %>" alt="<%= data.id %>'s profile pic" class="img-profile-PS">
                    </div>
                    <div class="post-sub-1-profileInfo-PS">
                        <h3><%= Data.id %></h3>
                        <h4><%= Data.referedAs %></h4>
                    </div>
                    <form action="/PS-Backend/index.js" class="putUpdate-PS">
                        <button>Update entire post</button>
                        <button>Delete</button>
                    </form>
                </div>
                <div class="post-sub-2-PS">
                    <p> <%= Data.postMessage %> </p>
                    <form action="#PS">
                        <button>Update post message</button>
                    </form>
                </div>
                <div class="post-sub-3-PS">
                    <div class="recentPost-PS">
                            <% let recentPost = Data.posts[Data.posts.length - 1] ; %>
                            <img src="<%= recentPost.image %>" alt="recent-post-PS" id="postMessagePic-PS">
                            <div class="additionalInfoImg-container-PS">
                                <div class="addInfo-sub-PS"> <%= recentPost.likes %>_likes </div>
                                <div class="addInfo-sub-PS"> <%= recentPost.comments %>_comments </div>
                                <form action="#PS">
                                    <button id="PS-delete-img">Update image</button>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div id = "PS-advertise">
        <div id="suggestions-PS">
            <form action="#" id="PS-search-form">
                <div class="PS-search-box">
                    <label for="PS-search-icon">
                        <i class="fa-solid fa-magnifying-glass fa-2x search"></i>
                    </label>
                    <input type="text" placeholder="Search" name="username" id="PS-search-icon">
                </div>
            </form>
            <div id="PS-suggest-id">
                <% for(let ele of data) {
                const userName = ["MahadevMahadevi" , "dogs" , "cats"] ;
                for(let userKey of userName) {
                    let user = ele[userKey] ;
                    if(user) { %>
                        <div class="PS-suggest-container">
                            <div class="PS-suggest">
                                <img src="<%= user.profilePicPS %>" alt="<%= user.id %>'s profile pic">
                            </div>
                            <div class="PS-suggest">
                                <h3><%= user.id %></h3>
                                <h4><%= user.referedAs %></h4>
                            </div>
                            <div class="PS-btn-container">
                                <button type="button" class="PS-suggest-btn">Follow</button>
                            </div>
                        </div>
                <% }
                }
            } %>
            </div>
        </div>
    </div>
    <script src = "/js/script.js"></script>
</body>
</html>
