<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParvatiammaShivappa show in more detail</title>
    <link 
    rel="stylesheet"
    href="/css/style.css">
</head>
<body>
    <%  console.log("ParvatiammaShivappa , muddu") ;
        let user = Object.values(findId)[0] ;
        console.log(user) ; %>
        <div id="posts-displayPS-container">
            <div class="post-PS">
                <div class="post-sub-1-PS">
                    <div class="post-sub-1-profilePic-PS">
                        <img src="<%= user.profilePicPS %>" alt="<%= user.id %>'s profile pic" class="img-profile-PS">
                    </div>
                    <div class="post-sub-1-profileInfo-PS">
                        <h3><%= user.id %></h3>
                        <h4><%= user.referedAs %></h4>
                    </div>
                    <form action="http://localhost:333/PSx.com/posts/update/<%= user.id %>" class="putUpdate-PS">
                        <button>Update entire post</button>
                    </form>
                    <form method="post" action="http://localhost:333/PSx.com/posts/delete/<%= user.id %>?_method=DELETE" class="delete-PS">
                        <button>Delete</button>
                    </form>
                </div>
                <div class="post-sub-2-PS">
                    <p> <%= user.postMessage %> </p>
                    <form action="http://localhost:333/PSx.com/posts/<%= user.id %>/PSedit/PostMessage">
                        <button>Update post message</button>
                    </form>
                </div>
                <div class="post-sub-3-PS">
                    <div class="recentPost-PS">

                                <% let recentPost = user.posts[user.posts.length - 1] ; %>
                                <img src="<%= recentPost.image %>" alt="recent-post-PS" id="postMessagePic-PS">
                                <div class="additionalInfoImg-container-PS">
                                    <div class="addInfo-sub-PS"> <%= recentPost.likes %>_likes </div>
                                    <div class="addInfo-sub-PS"> <%= recentPost.comments %>_comments </div>
                                    <form action="/PSx.com/posts/<%= user.id %>/PSedit/PostImg">
                                        <button id="PS-delete-img">Update image</button>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>